body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:328px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:59px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u480 {
  position:absolute;
  left:19px;
  top:17px;
  width:309px;
  height:59px;
}
#u481 {
  position:absolute;
  left:10px;
  top:10px;
  width:289px;
  word-wrap:break-word;
}
#u482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u482 {
  position:absolute;
  left:25px;
  top:127px;
  width:77px;
  height:19px;
  color:#0000FF;
}
#u483 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
