body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:321px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u464 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u465 {
  position:absolute;
  left:21px;
  top:94px;
  width:300px;
  height:25px;
}
#u465_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u466 {
  position:absolute;
  left:21px;
  top:272px;
  width:140px;
  height:25px;
}
#u466_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u467 {
  position:absolute;
  left:189px;
  top:272px;
  width:100px;
  height:16px;
}
#u468 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u467_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u469 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u470 {
  position:absolute;
  left:121px;
  top:220px;
  width:100px;
  height:16px;
}
#u471 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u470_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u472 {
  position:absolute;
  left:21px;
  top:220px;
  width:100px;
  height:16px;
}
#u473 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u472_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u474 {
  position:absolute;
  left:21px;
  top:148px;
  width:300px;
  height:25px;
}
#u474_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u475 {
  position:absolute;
  left:21px;
  top:20px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u476 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u477 {
  position:absolute;
  left:18px;
  top:331px;
  width:70px;
  height:19px;
  color:#0000FF;
}
#u478 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
